@{
  Layout = null;
 }

 <!DOCTYPE html>
<html>
 <head>
   <meta name="viewport" content="width=device-width" />
   <title>MainPage</title>         
 </head>

 <style>
    .button {
        background-color: #B22222;
        color: white;
        border: none;
        text-align: center;
        font-size: 24px;
        padding: 10px;
    }

    body {
        text-align: center;
        font-size: 32px;
    }

 </style>
 <body>
    <p> Thank you for registering on our website.</p>
    <button style="@ViewBag.display" class="button" >Join our mailing list</button>
 </body>
</html>